bower_components
node_modules
npm-debug.log
*.orig
*.*~

coverage/
apps/
window-manager/

#Webstorm
.idea/

# Brackets
.brackets.json


# Visual Studio Code
.vscode/*
typings/*

docs/hexo/node_modules/*