body {
  font-size: 16px;
  font-family: sans-serif;
}
.back {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px;
  font-size: 16px;
}
.next {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 15px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #3E8C94;
  border: none;
}
.center {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}
h1{
  text-align: center;
  width: 100%;
  font-weight: 300;
  color: #3e8c94;
}
button, .button{
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #3e8c94;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button .clear, .button.clear{
  background-color: transparent;
  color: #3e8c94;
  text-decoration: underline;
}
